Source: erlang-ketama
Section: database
Priority: optional
Maintainer: Andrei Soroker, Esq. <andrei@rd.io>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.9.1
Homepage: http://www.metabrew.com/article/erlang-libketama-driver-consistent-hashing

Package: erlang-ketama
Architecture: any
Depends: erlang-base (>= 1:15.b-dfsg-2) | erlang-base-hipe (>= 1:15.b-dfsg-2), libketama1 (>= 1.0)
Description: Erlang libketama driver.
