Source: python-ketama
Section: devel
Priority: extra
Build-Depends: debhelper (>= 5), build-essential, python-dev
Maintainer: Manish Singh <manish@rd.io>
Standards-Version: 3.7.2
XS-Python-Version: 2.6

Package: python-ketama
Architecture: any
Section: python
Depends: libketama1, ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for libketama.
